mktraclet.c
mktraclet.cpython-38-darwin.so
build
findOrb/*.o
findOrb/dos_find
findOrb/get_test
findOrb/astephem
findOrb/riseset3
findOrb/jd
findOrb/*.a
__pycache__
mktracklet_opt.c
mktracklet_opt.cpython-38-darwin.so

data/*
!data/.gitkeep
SubaruHSC/*
!SubaruHSC/.gitkeep

API/__pycache__/
.DS_Store

.pytest_cache

mktracklet_opt.cpython-39-x86_64-linux-gnu.so
